*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
}

:root {
    --bg-color: #e34a6f;
    --main-color: #f7b2bd;
    --book-color: #b2a198;
    --create-btn-color: #60a561;
    --header-size: 5rem;
    --footer-size: 3rem;
    font-size: 16px;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

button {
    transition: transform 500ms;
}

button:not(.change-status-btn):hover {
    transform: translateY(-0.2em);
}

button:hover {
    cursor: pointer;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.4rem 0;
    padding-left: 1ch;
    border: none;
    background-color: whitesmoke;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
}

input:active,
input:focus,
input:focus-visible {
    background-color: #e5e5e5;
    border: none;
    outline: none;
}

img.icon {
    width: 1.2em;
}

#layout-master {
    width: 100vw;
    display: grid;
    grid-template: var(--header-size) auto var(--footer-size) / 1fr;
}

#header,
#footer {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    font-size: 2rem;
}

#main {
    min-height: calc(100vh - var(--header-size) - var(--footer-size));
    background-color: var(--main-color);
}

#library-container {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-auto-rows: 15rem;
    gap: 1rem;
}

#library-container>.book {
    background-color: var(--book-color);
    border-radius: 0.5em;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-rows: 3fr repeat(3, minmax(3ch, 1fr));
    align-items: center;
    box-shadow: 0.4rem 0.4rem 0.5rem -0.5rem black;
    position: relative;
}

.book-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5rem 0;
}

.book-pages,
.book-status,
.book-author {
    position: relative;
    display: grid;
    grid-template-columns: 10ch 1fr;
}

.change-status-btn {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 1rem;
    background-color: transparent;
    font-size: 0.9rem;
    border-radius: 0.2em;
    border: none;
    font-weight: bold;
    color: #0033ff;
    text-decoration: underline;
}

.book-delete-btn {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    top: 0.5em;
    right: 0.5em;
    background-color: red;
    background-image: url("Assets/delete.svg");
    color: white;
    border-radius: 0.2em;
    border: none;
}

#create-btn {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--create-btn-color);
    border: none;
    border-radius: 1em;
    box-shadow: 0rem 0.2rem 0.3rem -0.2rem black;
    font-weight: bold;
    color: white;
}

#create-book-form {
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 0.5em;
}

#create-book-form>header {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 1em;
    text-align: center;
}

#create-book-form>.input-group {
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 10ch 1fr;
    align-items: center;
    gap: 1ch;
}

#form-controls {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

#form-controls button {
    font-weight: bold;
    border: none;
    border-radius: 1em;
    box-shadow: 0em 0.2em 0.3em -0.2em black;
    padding: 1em 1em;
    color: white;
}

#cancel-btn {
    background-color: red;
}

#submit-btn {
    background-color: var(--create-btn-color);
}

.input-group> :first-child {
    justify-self: end;
}

@media screen and (min-width: 425px) {
    #create-book-form {
        max-width: 500px;
        margin: 2rem auto;
    }
}


@media screen and (min-width: 768px) {
    #create-book-form {
        max-width: none;
        width: 600px;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        padding: 0 2em;
        padding-top: 1.5em;
    }

    #create-book-form>.input-group {
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1024px) {
    #library-container {
        font-size: 1.1rem;
        padding: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
        grid-auto-rows: 15rem;
        gap: 2rem;
    }

    #create-btn {
        margin-left: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem 2rem;
        font-size: 1.2rem;
    }
}