*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
}

:root {
    --bg-color: #e34a6f;
    --book-color: #b2a198;
    --create-btn-color: #60a561;
    --header-size: 5rem;
    --footer-size: 3rem;
    font-size: 16px;
    font-family: 'Roboto';
}

#layout-master {
    width: 100vw;
    display: grid;
    grid-template: var(--header-size) auto var(--footer-size) / 1fr;
}

#header,
#footer {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    font-size: 2rem;
}

#main {
    min-height: calc(100vh - var(--header-size) - var(--footer-size));
    background-color: #f7b2bd;
}

#library-container {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-auto-rows: 10rem;
    gap: 1rem;
}

#library-container>.book {
    background-color: var(--book-color);
    border-radius: 0.5em;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-rows: 3fr repeat(3, minmax(3ch, 1fr));
    align-items: center;
    box-shadow: 0.4rem 0.4rem 0.5rem -0.5rem black;
}

.book-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.5rem 0;
}

.book-pages,
.book-status,
.book-author {
    display: grid;
    grid-template-columns: 10ch 1fr;
}

#create-btn {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--create-btn-color);
    border: none;
    border-radius: 1em;
    box-shadow: 0rem 0.2rem 0.3rem -0.2rem black;
    font-weight: bold;
}

#create-book-form {
    display: none;
}

@media screen and (min-width: 1024px) {
    #library-container {
        font-size: 1.1rem;
        padding: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
        grid-auto-rows: 15rem;
        gap: 2rem;
    }

    #create-btn {
        margin-left: 2rem;
        margin-bottom: 2rem;
        padding: 1.5rem 2rem;
        font-size: 1.2rem;
    }
}